:root {
    --openqdc-primary: ##201342;
    --openqdc-secondary: #4A1E7E;

    /* Primary color shades */
    --md-primary-fg-color: var(--openqdc-primary);
    --md-primary-fg-color--light: var(--openqdc-primary);
    --md-primary-fg-color--dark: var(--openqdc-primary);
    --md-primary-bg-color: var(--openqdc-secondary);
    --md-primary-bg-color--light: var(--openqdc-secondary);
    --md-text-link-color: var(--openqdc-secondary);

    /* Accent color shades */
    --md-accent-fg-color: var(--openqdc-secondary);
    --md-accent-fg-color--transparent: var(--openqdc-secondary);
    --md-accent-bg-color: var(--openqdc-secondary);
    --md-accent-bg-color--light: var(--openqdc-secondary);
  }

  :root>* {
    /* Code block color shades */
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* Footer */
    --md-footer-bg-color: var(--openqdc-primary);
    /* --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32); */
    --md-footer-fg-color: var(--openqdc-secondary);
    --md-footer-fg-color--light: var(--openqdc-secondary);
    --md-footer-fg-color--lighter: var(--openqdc-secondary);

  }

  .md-header {
    background-image: linear-gradient(to right, #131036, #4A1E7E);
  }

  .md-footer {
    background-image: linear-gradient(to right, #131036, #4A1E7E);
  }

  .md-tabs {
    background-image: linear-gradient(to right, #F4F6F9, #b39bce);
  }

  .md-header__topic {
    color: rgb(255, 255, 255);
  }

  .md-source__repository,
  .md-source__icon,
  .md-search__input,
  .md-search__input::placeholder,
  .md-search__input~.md-search__icon,
  .md-footer__inner.md-grid,
  .md-copyright__highlight,
  .md-copyright,
  .md-footer-meta.md-typeset a,
  .md-version {
    color: rgb(255, 255, 255) !important;
  }

  .md-search__form {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .md-search__input {
    color: #222222 !important;
  }

  .md-header__topic {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
  }

  /* Increase the size of the logo */
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    height: 2rem !important;
  }

  /* Reduce the margin around the logo */
  .md-header__button.md-logo {
    margin: 0.4em;
    padding: 0.4em;
  }

  /* Remove the `In` and `Out` block in rendered Jupyter notebooks */
  .md-container .jp-Cell-outputWrapper .jp-OutputPrompt.jp-OutputArea-prompt,
  .md-container .jp-Cell-inputWrapper .jp-InputPrompt.jp-InputArea-prompt {
    display: none !important;
  }
